<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRM6F4G" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--Start of container-->
<div class="container" id="container">
    <nav class="navigator--closed" id="navigator">

        <div class="sidenav" id="sidenav">
            <input type="checkbox" class="sidenav__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="sidenav__button">
                <span class="sidenav__icon">&nbsp;</span>
            </label>

            <ul class="sidenav__list">
                <li class="sidenav__item">
                    <a class="sidenav__link" href="#about" id="sidenav__quem">Sobre nós?
                    </a>
                    <span></span>
                </li>
                <li class="sidenav__item">
                    <a class="sidenav__link" href="#servicos" id="sidenav__servicos">Os nossos serviços</a>
                    <span></span>
                </li>

                <li class="sidenav__item">
                    <a class="sidenav__link" href="#imoveis" id="sidenav__imoveis">Imóveis</a>
                    <span></span>
                </li>

                <li class="sidenav__item">
                    <a class="sidenav__link" href="#faq" id="sidenav__faq" data-modal="#faq">Perguntas Frequentes</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </nav>
    <!--Start of Content-->
    <div class="content">
        <header>
            <div class="header view" id="home">
                {{!-- <img src="/assets/svg/english-language.svg" alt="translate" class="icon__english"> --}}
                <img class="header__logo" src="/assets/svg/logo-2.svg" alt="logo">
                <div class="header__btn">
                    <button class="btn btn--casa" id="casa">Procura casa?</button>
                    <button class="btn btn--proprietario" id="proprietario">É proprietário?</button>
                </div>
            </div>
        </header>
        <main>
            <div class="about view" id="about">
                <div class="about__info">
                    <h1 class="about__title">
                        Quem somos?
                    </h1>
                    <p class="about__text">
                        Somos uma empresa dedicada à criação de soluções para os desafios existentes no mercado de
                        arrendamento e gestão de património.
                        Criada para dar resposta às necessidades tanto de proprietários como de inquilinos, temos
                        como objectivos formar uma parceria duradoura com os nossos clientes.
                        Oferecemos uma gama de serviços que pretende dar resposta a qualquer que seja o desafio
                        proposto.
                        Trabalhamos com arrendamento tradicional, a quartos, de curta duração ou uma combinação de
                        todos os anteriores, de acordo com a procura e com os objectivos do proprietário.
                        Acreditamos que a procura de uma nova casa ou de um novo inquilino deve ser um processo
                        transparente, simples e rápido.
                        Quer procure a sua casa ideal ou queira ver um imóvel seu rentabilizado com zero
                        preocupações estamos confiantes que vai achar na casas coimbra a resposta às suas
                        necessidades.
                    </p>
                </div>

                <div class="arrow-wrapper">
                    <svg class="red icon icon-circle-down" id="scrollToServicos">
                        <use xlink:href="#icon-circle-down"></use>
                    </svg>
                </div>

            </div>
            <div class="coolsection" id="coolsection">

                <div class="coolsection__counters">
                    <div class="coolsection__div">
                        <h1 class="coolsection__title">
                            Quartos </h1>
                        <span class="coolsection__counter counter">50</span>
                    </div>

                    <div class="coolsection__div">
                        <h1 class="coolsection__title">
                            Taxa de ocupação
                        </h1>
                        <span class="coolsection__counter"><span class="coolsection__counter counter">96</span>%</span>
                    </div>
                </div>

                <div class="reviews">
                    <div class="reviews__slider">
                        <img class="review" src="/assets/reviews/r1.jpg" alt="review">
                        <img class="review" src="/assets/reviews/r2.jpg" alt="review">
                        <img class="review" src="/assets/reviews/r3.jpg" alt="review">
                    </div>
                </div>
            </div>
            <div class="servicos view" id="servicos">
                <h1 class="servicos__title">
                    Os nossos serviços
                </h1>
                <div class="servicos__wrap">
                    <a href="#info" data-modal="#info" class="servicos__link">
                        <div class="servicos__box">
                            <img class="servicos__logo" src="/assets/svg/logo-2-unletter.svg" alt="cardbglogo">
                            <img class="servicos__icon" src="/assets/svg/casacerto.svg" alt="cardicon">
                            <div class="servicos__bg">

                                <!-- <div class="servicos__bullets">
                                        <svg class="servicos__bullet red">
                                            <use xlink:href="#bullet"></use>
                                        </svg>
                                        <svg class="servicos__bullet white">
                                            <use xlink:href="#bullet"></use>
                                        </svg>
                                        <svg class="servicos__bullet white">
                                            <use xlink:href="#bullet"></use>
                                        </svg>
                                        <svg class="servicos__bullet white">
                                            <use xlink:href="#bullet"></use>
                                        </svg>
                                    </div> -->
                            </div>
                            <div class="servicos__info">
                                <h2 class="servicos__header">Gestão Completa</h2>
                                <blockquote class="servicos__points">
                                    Garanta que o seu imóvel é bem cuidado, que os seus inquilinos estão
                                    satisfeitos e
                                    que o seu rendimento é pago a horas enquanto disfruta do tempo livre de ter um
                                    grupo de profissionais a gerir todo o processo.
                                </blockquote>
                                <button class="conheca">Saiba Mais</button>
                            </div>
                        </div>
                    </a>
                    <a href="#info" data-modal="#info" class="servicos__link">
                        <div class="servicos__box">
                            <img class="servicos__logo" src="/assets/svg/logo-2-unletter.svg" alt="cardbglogo">
                            <img class="servicos__icon" src="/assets/svg/casacompessoas.svg" alt="cardicon">
                            <div class="servicos__bg">

                                <!-- <div class="servicos__bullets">
                                        <svg class="servicos__bullet red">
                                            <use xlink:href="#bullet"></use>
                                        </svg>
                                        <svg class="servicos__bullet white">
                                            <use xlink:href="#bullet"></use>
                                        </svg>
                                    </div> -->

                            </div>
                            <div class="servicos__info">
                                <h2 class="servicos__header">Gestão de Visitas</h2>
                                <blockquote class="servicos__points">
                                    Mantenha a gestão do seu próprio imóvel e deixo-nos encontrar o inquilino ideal
                                    para o imóvel.
                                </blockquote>
                                <button class="conheca">Saiba Mais</button>
                            </div>
                        </div>
                    </a>
                    <a href="#info" data-modal="#info" class="servicos__link">
                        <div class="servicos__box">
                            <img class="servicos__logo" src="/assets/svg/logo-2-unletter.svg" alt="cardbglogo">
                            <img class="servicos__icon servicos__icon--first" src="/assets/svg/lampada.svg"
                                alt="cardicon">

                            <div class="servicos__bg">

                                <!-- 
                                    <div class="servicos__bullets">
                                        <svg class="servicos__bullet red">
                                            <use xlink:href="#bullet"></use>
                                        </svg>
                                        <svg class="servicos__bullet white">
                                            <use xlink:href="#bullet"></use>
                                        </svg>
                                    </div> -->

                            </div>
                            <div class="servicos__info">
                                <h2 class="servicos__header">Serviços Pontuais</h2>
                                <blockquote class="servicos__points">
                                    Sem qualquer compromisso, qualquer que seja o problema do seu imóvel use os
                                    nossos
                                    serviços ou os dos nossos parceiros especializados.
                                </blockquote>
                                <button class="conheca">Saiba Mais</button>
                            </div>
                        </div>
                </div>
                </a>
                <div class="arrow-wrapper">
                    <!-- <svg class="white icon icon-circle-down" id="scrollToImoveis">
                            <use xlink:href="#icon-circle-down"></use>
                        </svg> -->
                    <a href="#compare" data-modal="#compare" id="btn__compare">
                        <button>Compare os serviços</button>
                    </a>
                </div>
            </div>

            <div class="imoveis view" id="imoveis">
                <h1 class="imoveis__title">
                    Procura casa?
                </h1>
                <!-- AJAX GENERATIING HOMES HERE -->
                <a href="#forms" data-modal="#forms" id="form" class="btn btn--procura">Não encontra o que procura?</a>
            </div>
        </main>
        <footer>
            <div class="footer">
                <div class="footer__nav">
                    <div class="footer__links-wrap">
                        <a href="https://www.facebook.com/CasasCoimbra.pt/" target="_blank" class="footer__links">
                            <svg class="icon icon-facebook footer__svg">
                                <use xlink:href="#icon-facebook"></use>
                            </svg>
                        </a>


                        <a class="footer__links" href="https://wa.me/351910211113" target="_blank">
                            <svg class="icon dark icon-whatsapp footer__svg">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>



                        <a class="footer__links" id="numero">
                            <div class="footer__svgbg">
                                <svg class="icon white phone footer__svg">
                                    <use xlink:href="#phone"></use>
                                </svg>
                                <div class="footer__mobile">
                                    <span class="footer__mobile-span contacto">+351 910 211 113</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="footer__copy">
                    <p>CasasCoimbra&copy; Todos os direitos reservados 2018</p>
                </div>
                <a href="https://privacypolicies.com/privacy/view/367e9fc883732e1b36300ac02bdb74b6" target="_blank"
                    class="footer__policy">Termos
                    de Privacidade</a>
            </div>
        </footer>
    </div>
    <!--END of Content-->
    <div class="popup" id="imovel">
        <div class="popup__box">
            <a href="javascript:void(0)" class="close">
                <svg class="icon icon-cross popup__close">
                    <use xlink:href="#icon-cross"></use>
                </svg>
            </a>
            <div class="popup__photos">
                <svg class="icon white icon-circle-left popup__left" id="leftPhoto">
                    <use xlink:href="#icon-circle-left"></use>
                </svg>
                <svg class="icon white icon-circle-right popup__right" id="rightPhoto">
                    <use xlink:href="#icon-circle-right"></use>
                </svg>
                {{#if casa}}
                {{#each casa.divisao}}
                    <img src="/{{indexed this.foto @root.urlParameters.idFoto }}" alt="foto">
                {{/each}}
                {{else}}
                <img src="" alt="foto">
                {{/if}}
            </div>
            <div class="popup__info">

                <div class="popup__mapa">
                    {{#if casa}}
                    <iframe frameborder="0" style="border:0" src="{{casa.mapa}}" allowfullscreen></iframe>
                    {{/if}}
                </div>

                <div class="popup__description">
                  
                    {{#if casa}}
                    {{#each casa.divisao}}
                    <p class="popup__tipo">
                        {{json this.tipo}}
                        {{#if this.numero}}
                        {{json this.numero}}
                        {{/if}}
                    </p>
                    <p class="popup__price">
                        {{#if this.preco}}
                        {{json this.preco}}€
                        {{else}}
                            Nao Disponível
                        {{/if}}
                    </p>
                    <p class="popup__comment">{{json this.descricao}}</p>
                    {{/each}}
                    {{else}}
                    <p class="popup__tipo"></p>
                    <p class="popup__price"></p>
                    <p class="popup__comment"></p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="forms">
        <div class="popup__iframe-box">
            <iframe class="popup__form"
                src="https://docs.google.com/forms/d/e/1FAIpQLScqNYwLtPN-95aGR6CzgbIdB74cfdsLvFkkSBpatEZXPtcqdg/viewform?embedded=true"
                width="640" height="1528" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </div>
    <div class="popup" id="info">

        <div class="popup__box info__container">
            <a href="javascript:void(0)" class="close">
                <svg class="icon icon-cross popup__close">
                    <use xlink:href="#icon-cross"></use>
                </svg>
            </a>
            <div class="info__desc">
                <div class="info__main info__main--1">
                    <div class="info__bg">
                        <img src="/assets/svg/casacerto.svg" alt="logo">
                    </div>


                    <h1 class="info__title">Gestão Completa</h1>
                    <div class="info__wrap">
                        <ul class="info__list">
                            <div>
                                <li class="info__list-item" id="apartamentos">Apartamentos</li>
                                <span></span>
                            </div>
                            <div>
                                <li class="info__list-item" id="quartos">Quartos</li>
                                <span></span>
                            </div>
                            <div>
                                <li class="info__list-item" id="alojamento">Alojamento Local</li>
                                <span></span>
                            </div>

                        </ul>
                    </div>


                </div>
                <div class="info__main info__main--2">
                    <div class="info__bg">
                        <img src="/assets/svg/casacompessoas.svg" alt="logo">
                    </div>


                    <h1 class="info__title">Gestão de Visitas</h1>
                    <div class="info__wrap">
                        <ul class="info__list">
                            <div>
                                <li class="info__list-item">Gestão Continuada</li>
                                <span></span>
                            </div>
                            <div>
                                <li class="info__list-item">Gestão Pontual</li>
                                </li>
                                <span></span>
                            </div>

                        </ul>
                    </div>
                </div>
                <div class="info__main info__main--3">
                    <div class="info__bg">
                        <img src="/assets/svg/lampada.svg" alt="logo">
                    </div>

                    <h1 class="info__title">Serviços Pontuais</h1>
                    <ul class="info__list">
                        <div>
                            <li class="info__list-item">Arranjos e manutenção</li>
                            <span></span>
                        </div>
                        <div>
                            <li class="info__list-item">Mobiliário & Electrodomésticos</li>
                            <span></span>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="info__table">
                <ul class="info__table-list">
                    <h1 class="info__table-links--title">Gestão Completa</h1>
                    <li class="info__table-links">Fotografias e publicidade tanto física como online</li>
                    <li class="info__table-links">Gestão de visitas e contactos</li>
                    <li class="info__table-links">Registo de contractos e emissão de recibos</li>
                    <li class="info__table-links">Apoio 24/7 aos residentes</li>
                    <li class="info__table-links">Gestão de arranjos e manutenção do imóvel </li>
                    <div class="info__table-span">
                        <span class="span__info">
                            "Para arranjos superiores a 300€ será cobrada uma taxa de gestão de projeto de 20% do
                            valor faturado."
                        </span>
                    </div>

                    <li class="info__table-links">Relatório trimestral de contas </li>
                </ul>

                <ul class="info__table-list">
                    <h1 class="info__table-links--title">Quartos</h1>
                    <li class="info__table-links">Fotografias e publicidade tanto física como online</li>
                    <li class="info__table-links">Gestão de visitas e contactos</li>
                    <li class="info__table-links">Registo de contractos e emissão de recibos</li>
                    <li class="info__table-links">Apoio 24/7 aos residentes</li>
                    <li class="info__table-links">Gestão de arranjos e manutenção do imóvel </li>
                    <div class="info__table-span">
                        <span class="span__info">
                            "Para arranjos superiores a 300€ será cobrada uma taxa de gestão de projeto de 20% do
                            valor faturado."
                        </span>
                    </div>

                    <li class="info__table-links">Relatório trimestral de contas </li>
                    <li class="info__table-links">Controlo dos serviços de limpeza (staff/consumíveis)</li>
                    <li class="info__table-links">Pagamento e controlo de contas e despesas</li>
                    <div class="info__table-span">
                        <span class="span__info">
                            "No caso do imóvel ser arrendado com despesas incluídas."
                        </span>
                    </div>
                </ul>

                <ul class="info__table-list">
                    <h1 class="info__table-links--title">Alojamento Local</h1>
                    <li class="info__table-links">Fotografias e publicidade tanto física como online</li>
                    <li class="info__table-links">Gestão de visitas e contactos</li>
                    <li class="info__table-links">Registo de contractos e emissão de recibos</li>
                    <li class="info__table-links">Apoio 24/7 aos residentes</li>
                    <li class="info__table-links">Gestão de arranjos e manutenção do imóvel </li>
                    <div class="info__table-span">
                        <span class="span__info">
                            "Para arranjos superiores a 300€ será cobrada uma taxa de gestão de projeto de 20% do
                            valor faturado."
                        </span>
                    </div>
                    <li class="info__table-links">Relatório trimestral de contas </li>
                    <li class="info__table-links">Controlo dos serviços de limpeza (staff/consumíveis)</li>
                    <li class="info__table-links">Pagamento e controlo de contas e despesas</li>
                    <div class="info__table-span">
                        <span class="span__info">
                            "No caso do imóvel ser arrendado com despesas incluídas."
                        </span>
                    </div>
                    <li class="info__table-links">Acompanhar a entrada e saída dos hóspedes</li>
                    <li class="info__table-links">Gestão dos serviços de lavandaria</li>
                    <li class="info__table-links">Manutenção de consumíveis</li>
                    <li class="info__table-links">Serviços de transfere </li>
                    <div class="info__table-span">
                        <span class="span__info">
                            "Serviço pontual com custo de 15€ por transporte válido apenas dentro da cidade de
                            Coimbra e arredores próximos para distâncias superiores, valor sob consulta"
                        </span>
                    </div>
                </ul>

                <ul class="info__table-list">
                    <li class="info__table-links--title">Gestão Continuada</span>
                    </li>
                    <li class="info__table-links">Fotografias e publicidade tanto física como on-line</li>
                    <li class="info__table-links">Gestão de contactos e visitas</li>
                    <li class="info__table-links">Reunir documentação e elaboração do contracto
                    </li>
                    <li class="info__table-links">Dar entrada do Inquilino</li>
                    <li class="info__table-links">Serviços de transfere </li>
                    <li class="info__table-links">Serviço pago por 6 meses</li>
                    <div class="info__table-span">
                        <span class="span__info">
                            "Caso o inquilino permaneça no imóvel por um período de tempo inferior a 6 meses o
                            proprietário não será cobrado pelo serviço seguinte"
                        </span>
                    </div>
                </ul>

                <ul class="info__table-list">
                    <li class="info__table-links--title">Gestão Pontual</li>
                    <div class="info__table-span">
                        <span class="span__info">
                            Os mesmos serviços da gestão de visitas continuada mas realizados apenas uma vez
                        </span>
                    </div>
                </ul>

                <ul class="info__table-list">

                    <li class="info__table-links--title">Arranjos & Manutenção</li>
                    <div class="info__table-span">

                        <span class="span__info">
                            "Avaliação do problema e recomendação de solução adequada.
                            Contratação e supervisão de pessoal especializado no tipo de serviço em questão. válido
                            para qualquer tipo de arranjos incluindo persianas, serviços de canalização,
                            eletricidade
                            ou serralharia, etc."
                        </span>

                    </div>
                    <p><span class="span__nota">Nota:</span> Não dispensa uma avaliação caso-a-caso com
                        eventual ajuste no valor
                        tabelado
                    </p>
                </ul>

                <table class="info__tabela">
                    <tr class="info__tabela-tr">
                        <th>Valor Orçamentado</th>
                        <th>Comissão</th>
                        <th>Valor Mínimo</th>
                    </tr>
                    <tr class="info__tabela-tr">
                        <td>0€-1000€</td>
                        <td>20%</td>
                        <td>50€</td>
                    </tr>
                    <tr class="info__tabela-tr">
                        <td>1000€-5000€</td>
                        <td>15%</td>
                        <td>200€</td>
                    </tr>
                    <tr class="info__tabela-tr">
                        <td>5000-25000€</td>
                        <td>6%</td>
                        <td>750€</td>
                    </tr>
                    <tr class="info__tabela-tr">
                        <td>>25000€</td>
                        <td>4%</td>
                        <td>1500€</td>
                    </tr>
                </table>
                <ul class="info__table-list">

                    <li class="info__table-links--title">Mobiliário & Electrodomésticos
                    </li>
                    <div class="info__table-span">
                        <span class="span__info">
                            "Avaliação das necessidades, orçamentação e proposta de solução adequada, compra
                            transporte e montagem de todo o equipamento.)"
                        </span>

                    </div>
                    <p><span class="span__nota">Nota:</span> Não dispensa uma avaliação caso-a-caso com
                        eventual ajuste no valor
                        tabelado
                    </p>
                </ul>

                <table class="info__tabela">
                    <tr class="info__tabela-tr">
                        <th>Valor Orçamentado</th>
                        <th>Comissão</th>
                        <th>Valor Mínimo</th>
                    </tr>
                    <tr class="info__tabela-tr">
                        <td>0€-1000€</td>
                        <td>35%</td>
                        <td>100€</td>
                    </tr>
                    <tr class="info__tabela-tr">
                        <td>1000€-5000€</td>
                        <td>25%</td>
                        <td>350€</td>
                    </tr>
                    <tr class="info__tabela-tr">
                        <td>5000-15000€</td>
                        <td>20%</td>
                        <td>1250€</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="popup" id="compare">
        <div class="popup__compare">
            <a href="javascript:void(0)" class="close">
                <svg class="icon icon-cross popup__close">
                    <use xlink:href="#icon-cross"></use>
                </svg>
            </a>
            <img class="popup__compare-img" src="/assets/svg/tabela_CUSTOM2.svg" alt="tabela">
        </div>


    </div>
    <div class="popup" id="faq">
        <div class="popup__box relative faq">
            <a href="javascript:void(0)" class="close">
                <svg class="icon icon-cross popup__close">
                    <use xlink:href="#icon-cross"></use>
                </svg>
            </a>
            <div class="faq__accordion" id="accordion">
                <h3>Reservas
                </h3>
                <div class="faq__collapse">
                    <ul class="faq__list">
                        <li class="faq__item">
                            <p>A reserva de um quarto ou apartamento é possível sendo feita mediante o pagamento da
                                caução do mesmo (valor equivalente a 1 mês de renda). Após a receção do valor em
                                causa, serão retirados todos e quaisquer anúncios relativos ao mesmo sendo o
                                imóvel/quarto considerado reservado até à data acordada de entrada.</p>
                        </li>
                        <li class="faq__item">
                            <p>Valor da caução para efeitos de reserva é não reembolsável, a exceção a esta condição
                                será apenas no caso de ser encontrada uma pessoa que tome a posição do interessado e
                                que dê entrada no imóvel em data anterior ou igual à data acordada com o mesmo.

                            </p>
                        </li>
                        <li class="faq__item">
                            <p>Por norma não são aceites reservas com antecedência superior a um mês, exceções a
                                esta norma deverão serão analisadas caso a caso.</p>
                        </li>
                    </ul>
                </div>

                <h3>Rendas e Pagamentos</h3>
                <div class="faq__collapse">
                    <ul class="faq__list">
                        <li class="faq__item">
                            <p>Não tendo sido feita reserva previa, no momento da entrega das chaves deverá ser
                                efetuado
                                o pagamento por parte do ocupante do primeiro mês de estadia bem como de um valor
                                equivalente
                                para efeitos de caução.

                            </p>
                        </li>

                        <li class="faq__item">
                            <p>Tendo sido efetuada a reserva do imóvel, no momento de entrega das chaves será
                                apenas
                                necessário efetuar o pagamento do valor relativo ao primeiro mês..</p>
                        </li>

                        <li class="faq__item">
                            <p>A estadia deverá ser paga adiantada e pelo método acordado, entre o dia 1 e 7 do mês
                                em
                                questão. Caso isso não se verifique e não havendo qualquer aviso posterior para
                                este
                                atraso o ocupante considera-se notificado para sair e terá até ao dia 20 do mesmo
                                mês
                                para retificar a situação podendo para tal ser cobrada uma penalização de 10% do
                                valor
                                mensal. Caso o atraso no pagamento não tenha sido regularizado até ao dia 20, o
                                ocupante
                                terá até ao final do mesmo mês para devolver as chaves e abandonar o imóvel.</p>
                        </li>

                        <li class="faq__item">
                            <p>Em casos em que a entrada e/ou saída seja feita numa data que não coincida com o
                                início
                                ou final dos mês poderá ser feito um acerto do valor da renda para esse mesmo mês.
                                Caso
                                entre a meio do mês apenas será exigido o pagamento de meio mês, etc.</p>
                        </li>

                    </ul>
                </div>

                <h3>Normas de Convivência</h3>
                <div class="faq__collapse">
                    <ul class="faq__list">
                        <li class="faq__item">
                            <p>Em situações de coabitação entre pessoas que na maioria das vezes não se conhecem
                                torna-se
                                importante definir normas de conduta que garantam uma coabitação harmoniosa bem
                                como
                                uma convivência livre de conflitos entre as mesmas. Mais do que "obrigações", estas
                                normas
                                constituem "direitos" dos residentes.
                            </p>
                        </li>

                        <li class="faq__item">
                            <p>É esperado por parte de todos os residentes o respeito pela habitação, vizinhos e
                                por
                                todos os restantes ocupantes da mesma. Esta condição em conjunto com a regra de
                                ouro
                                de “não faças aos outros o que não queres que te façam a ti” constituem os
                                princípios
                                básicos que são esperados de todas as partes..</p>
                        </li>

                        <li class="faq__item">
                            <p>Cada residente deverá deixar as zonas comuns em bom estado de limpeza e arrumação
                                após
                                cada utilização, de modo a poderem ser usadas pelos restantes ocupantes. As
                                responsabilidades
                                a cargo do proprietário são relativas apenas às limpezas de fundo periódicas e não
                                substituem
                                a diligência de cada um neste especto. </p>
                        </li>

                        <li class="faq__item">
                            <p>É pedido aos inquilinos que evitem produzir ruído excessivo que incomode tanto os
                                residentes
                                da casa como os vizinhos de forma a cumprir com a legislação em vigor sobre esta
                                matéria.</p>
                        </li>

                        <li class="faq__item">
                            <p>A possibilidade de fumar dentro do imóvel está dependente da aceitação/tolerância de
                                todos
                                os ocupantes. Não sendo, portanto, um direito, mas sim um privilégio que em caso de
                                reclamação
                                deixará de existir.</p>
                        </li>

                        <li class="faq__item">
                            <p>Não são permitidos animais de estimação qualquer alteração a esta condição terá de
                                ser
                                acordada pelo tanto pelo senhorio ou seu representante bem como pelos restantes
                                colegas
                                de casa.</p>
                        </li>

                        <li class="faq__item">
                            <p>Visitas são permitidas desde que as mesmas não entrem em conflito com nenhuma das
                                restantes
                                normas já definidas. A situação de pernoita por parte de amigos/as e namorados/as é
                                aceitável
                                desde que a duração da estadia dos mesmos não ultrapasse as 48h.</p>
                        </li>

                    </ul>
                </div>

                <h3>Direitos do Senhorio</h3>
                <div class="faq__collapse">

                    <ul class="faq__list">
                        <li class="faq__item">
                            <p>No caso de arrendamento a quartos o senhorio ou seu representante reservam-se ao
                                direito
                                de ter livre acesso às áreas comuns do apartamento, e de o poder visitar/mostrar,
                                desde
                                que em horário razoável sempre que assim o entenderem.</p>
                        </li>
                        <li class="faq__item">
                            <p>No caso de arrendamento do imóvel completo o senhorio ou seu representante
                                reservam-se
                                ao direito, após comunicação prévia ter livre acesso às áreas comuns do
                                apartamento,
                                e de o poder visitar/mostrar, desde que em horário razoável e com comunicação
                                previa.

                            </p>
                        </li>
                </div>

                <h3>Direitos dos Residentes</h3>
                <div class="faq__collapse">


                    <ul class="faq__list">
                        <li class="faq__item">
                            <p>Todos os residentes têm o direito à sua privacidade não tendo o senhorio ou seu
                                representante
                                o direito de entrar nas áreas privadas da habitação salvo com autorização do seu
                                ocupante
                                ou em caso de emergência ou força maior.</p>
                        </li>
                        <li class="faq__item">
                            <p>Os residentes têm o direito ter assegurada a manutenção das condições de
                                habitabilidade
                                que lhe foram apresentadas no início da sua estadia e de exigir a reparação e
                                manutenção
                                de todos os equipamentos e mobília desde que o desgaste dos mesmos seja derivado de
                                uma
                                utilização responsável.
                            </p>
                        </li>
                </div>

                <h3>Caução</h3>
                <div class="faq__collapse">
                    <ul class="faq__list">
                        <li class="faq__item">
                            <p>É sempre necessário o pagamento de uma caução de valor equivalente a um mês de
                                renda,
                                esta caução pode também funcionar para efeitos de reserva do imóvel. A caução não
                                funciona
                                como último mês como é muitas vezes tida, estando a sua devolução dependente da
                                entrega
                                das chaves e do imóvel por parte do seu ocupante nas mesmas condições de limpeza e
                                manutenção
                                em que foi entregue. Motivos que possam justificar a retenção da mesma de forma
                                integral
                                ou parcial são enumerados de seguida:</p>
                        </li>
                        <li class="faq__item">
                            <p>No caso de existirem danos no interior dos quartos causados por um uso
                                irresponsável,
                                tanto da mobília como do próprio imóvel o custo da reparação dos mesmos será
                                deduzido
                                à caução do ocupante.

                            </p>
                        </li>

                        <li class="faq__item">
                            <p>No caso de existirem danos nos espaços comuns da habitação, será feita uma tentativa
                                para
                                apurar responsabilidades, no caso de tal não ser possível e de ninguém se assumir
                                como
                                responsável, a dedução do valor das reparações será repartida entre todos os
                                ocupantes.
                            </p>
                        </li>
                        <li class="faq__item">
                            <p>Sempre que o imóvel seja arrendado com “despesas Incluídas” é estimado que o valor
                                médio
                                mensal das mesmas quando resultante de um consumo responsável ronde os 40€ por
                                ocupante.
                                Havendo um desvio significativo deste valor, o senhorio ou seu representante
                                reservam-se
                                ao direito de descontar o diferencial das cauções dos seus ocupantes.</p>
                        </li>
                        <li class="faq__item">
                            <p>Sempre as condições de limpeza do imóvel seja motivo de reclamação por parte de
                                algum
                                dos ocupantes ou no caso de as mesmas impossibilitarem a concretização de visitas
                                ao
                                imóvel, o senhorio ou seu representante reservam-se ao direito da contratação de um
                                serviço
                                adicional de limpeza cujo custo será deduzido da caução dos ocupantes.
                            </p>
                        </li>
                        <li class="faq__item">
                            <p>Marcas ou cheiros derivados da presença de um fumador no imóvel constituem
                                justificação
                                para ser descontado o valor da reparação dos mesmos.

                            </p>
                        </li>

                        <li class="faq__item">
                            <p>A devolução da caução está dependente da notificação prévia da intenção de saída com
                                uma
                                antecedência nunca inferior a 30 dias.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{> externals}}
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_PT/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Your customer chat code -->
<div class="fb-customerchat pulse" attribution=setup_tool page_id="2065874267061909"
    logged_in_greeting="Olá, como é que podemos ajudar?" logged_out_greeting="Olá, como é que podemos ajudar?">
</div>
<!--END OF CONTAINER-->